@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }

  body {
    min-height: 100%;
    margin: 0;
    @apply bg-gray-50 text-gray-900;
  }

  a {
    @apply text-blue-700 hover:text-blue-800;
  }
}
